<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd/MM/YYYY HH:mm:ss.SSS} %p %c [%t] %m%n"/>
        </Console>
        <File name="info" fileName="logs/simulator.info.log" append="true">
            <PatternLayout pattern="%d{dd/MM/YYYY HH:mm:ss.SSS} %p %c [%t] %m%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="debug" additivity="true">
            <AppenderRef ref="console"/>
        </Root>

        <logger name="org.supply.simulator.core.main" level="info" additivity="true">
            <AppenderRef ref="info"/>
        </logger>
    </Loggers>
</Configuration>